<% include ('/comm/header.html') %>


<table id="tbInfo" class="search-table">
	<tr>
		<td class="lead">存储类型</td>
		<td><select name="type" id="type"></select></td>
	</tr>
	<tr>
		<td class="lead">存储名称</td>
		<td><input type="text" name="name"></td>
	</tr>
	<tr>
		<td class="lead">存储Code</td>
		<td><input type="text" name="code"></td>
	</tr>
	<tr>
		<td class="lead">存储地址</td>
		<td><input type="text" name="path"></td>
	</tr>
	<tr>
		<td class="lead">备注</td>
		<td><textarea name="remark" cols="30" rows="5"></textarea></td>
	</tr>
</table>



<% include ('/comm/footer.html') %>
