<% include ('/comm/header.html') %>
<link rel="stylesheet" href="/css/jquery.datetimepicker.css">

<style>
	#contractAmount{
		border : none !important;
		box-shadow : none !important;
	}
</style>

<div class="panel">
	<div class="panel-title">合同信息</div>
	<div class="panel-body">
		<table id="tbSearch" class="search-table">
			<tbody>
			<tr>
				<td class="lead"><label for="contractNumber"><b class="text-red">*</b> 合同号</label></td>
				<td colspan="3"><input type="text" name="contractNumber" id="contractNumber" maxlength="32"/></td>
			</tr>
			<tr>
				<td class="lead"><label for="contractDate">合同签订日期</label></td>
				<td><input type="text" name="contractDate" id="contractDate" maxlength="10" /></td>
				<td class="lead">合同金额 (万元)</td>
				<td><input type="text" name="contractAmount" id="contractAmount" placeholder="单位：万元" readonly></td>
			</tr>
			</tbody>
		</table>
	</div>
	<div class="panel-foot">
		<span></span>
		<button id="btnSave" class="btn-warning ">保存</button>
		<button id="btnCancel" class="">返回</button>
	</div>
</div>


<div class="grid-title-bar">
	节目列表
	<button id="btnAdd" class="btn-create"><i class="ico-create"></i> 新增节目</button>
</div>
<table id="tb"></table>


<% include ('/comm/footer.html') %>
<script src="/lib/jquery.datetimepicker.js"></script>
