<% include ('/comm/header.html') %>
<link rel="stylesheet" href="../../../lib/player/plyr.css">

<style>
	#mainTab {
		width: 100%;
		height: 100%;
	}

	.forSingleFileOnly {
		/*display: none;*/
	}

	.search-table {
		margin-bottom: 1em;
	}

	.search-table .lead.text-center {
		text-align: center;
		font-weight: bold;
	}

	.halfWidth {
		width: 70% !important;
	}

	.divPopWrapper {
		padding: 20px;
		max-height: 200px;
		overflow: auto;
	}

	.divPopWrapper label {
		width: 150px !important;
	}

	.forOne * {
		visibility: hidden;
	}
</style>

<div id="mainTab">
	<div id="d0">
		<table id="tbMeta"></table>
		<table id="tbVideo"></table>


		<style>
			.lead2{
				width: auto;
				text-align: center;
				background-color: #fafafa;
			}
			.expandingArea {
				position: relative;
				border: 1px solid #888;
				background: #fff;
			}

			textarea,
			pre {
				margin: 0;
				padding: 0;
				outline: 0;
				border: 0;
			}

			.expandingArea > textarea,
			.expandingArea > pre {
				padding: 5px;
				background: transparent;
				font: 400 13px/16px helvetica, arial, sans-serif;
				/* Make the text soft-wrap */
				white-space: pre-wrap;
				word-wrap: break-word;
			}

			.expandingArea > textarea {
				/* The border-box box model is used to allow
				 * padding whilst still keeping the overall width
				 * at exactly that of the containing element.
				 */
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				-ms-box-sizing: border-box;
				box-sizing: border-box;
				width: 100%;
				/* This height is used when JS is disabled */
				height: 100px;
			}

			.expandingArea.active > textarea {
				/* Hide any scrollbars */
				overflow: hidden;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				/* Remove WebKit user-resize widget */
				resize: none;
			}

			.expandingArea > pre {
				display: none;
			}

			.expandingArea.active > pre {
				display: block;
				/* Hide the text; just using it for sizing */
				visibility: hidden;
			}

			#btnSaveComment{
				display: none;
			}
		</style>

		<div id="playerSection" style="margin-top: 1em; width: 100%; display: table ; visibility: hidden; ">
			<section style="width: 640px; /*height:480px;*/ display: table-cell; vertical-align: top;">
				<video id="my-video">
				</video>
			</section>


			<section style="margin: 0 1em; display: table-cell; vertical-align: top; padding: 0 0 0 20px">

				<button id="btnAddMark" class="" disabled>正在连接视频</button>

				<div style="margin: 1em 0 ; max-height: 270px;overflow-y: auto; background-color: #fff;">
					<table id="tb" class="search-table" style="">
						<colgroup>
							<col style="width: 50px;">
							<col>
							<col style="width: 81px; ">
						</colgroup>
						<thead>
						<tr style="height: 40px;">
							<td class="text-center"><b>时间</b></td>
							<td class="text-center"><b>描述</b></td>
							<td class="text-center"><b>操作</b></td>
						</tr>
						</thead>
						<tbody id="tbMarkBody">
						</tbody>
					</table>
				</div>

				<button id="btnSaveComment" class="btn-success">保存意见</button>


			</section>
		</div>

	</div>
	<div id="d1">
		<table class="search-table">
			<thead>
			<tr>
				<td colspan="4" class="lead text-center">基本信息</td>
			</tr>
			</thead>
			<tbody>
			<tr class="forSingleFileOnly">
				<td class="lead">节目名称</td>
				<td><span id="managerName"></span></td>
				<td class="lead">原名称</td>
				<td><span id="oriName"></span></td>
			</tr>
			<tr class="forSingleFileOnly">
				<td class="lead">索引名</td>
				<td><span id="sortName"></span></td>
				<td class="lead">查询名</td>
				<td><span id="srarchName"></span></td>
			</tr>
			<tr>
				<td class="lead">节目类型</td>
				<td><span id="typeDesc"></span></td>
				<td class="lead">类别</td>
				<td><span id="contentType"></span></td>
			</tr>
			<tr>
				<td class="lead">栏目Category</td>
				<td><span id="category"></span></td>
				<td class="lead forOne"><span>总集数</span></td>
				<td class="forOne"><span id="episodeNumber"></span></td>
			</tr>
			<tr>
				<td class="lead"><label for="genre">子类别Genre</label></td>
				<td colspan="3"><span id="genre"></span></td>
			</tr>
			<tr>
				<td class="lead">标签Tag</td>
				<td colspan="3"><span id="tags"></span></td>
			</tr>
			<tr>
				<td class="lead"><label for="categoryNames">分类</label></td>
				<td colspan="3"><span id="categoryNames"></span></td>
			</tr>
			<tr>
				<td class="lead"><label for="groupNames">内容分组 </label></td>
				<td colspan="3">
					<span id="groupNames"></span>
				</td>
			</tr>
			<tr>
				<td class="lead">生效时间</td>
				<td><span id="validTime"></span></td>
				<td class="lead"><label for="expireTime">失效时间</label></td>
				<td><span id="expireTime"></span></td>
			</tr>
			<tr>
				<td class="lead">节目时长</td>
				<td colspan="3"><span id="length"></span></td>
			</tr>
			<tr>
				<td class="lead"><label for="keyword">关键字</label></td>
				<td colspan="3"><span id="keyword"></span></td>
			</tr>
			<tr>
				<td class="lead"><label for="description">简介</label></td>
				<td colspan="3"><span id="description"></span></td>
			</tr>
			<tr>
				<td class="lead"><label for="adName">广告名称</label></td>
				<td colspan="3"><span id="adName"></span></td>
			</tr>
			</tbody>
		</table>

		<table class="search-table">
			<thead>
			<tr>
				<td colspan="4" class="lead text-center">版权信息</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td class="lead"><label for="vodArrange">用途</label></td>
				<td><span id="vodArrange"></span></td>
				<td class="lead"><label for="copyrightType">版权类型</label></td>
				<td><span id="copyrightType"></span></td>
			</tr>
			<tr>
				<td class="lead"><label for="copyrightValidTime">版权生效时间</label></td>
				<td><span id="copyrightValidTime"></span></td>
				<td class="lead"><label for="copyrightExpireTime">版权失效时间</label></td>
				<td><span id="copyrightExpireTime"></span></td>
			</tr>
			</tbody>
		</table>

		<table class="search-table">
			<thead>
			<tr>
				<td colspan="4" class="lead text-center">详细信息</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td class="lead"><label for="defaultPriceType">资费类型</label></td>
				<td><span id="defaultPriceType"></span></td>
				<td class="lead"><label for="defaultPrice">默认资费 (元)</label></td>
				<td><span id="defaultPrice"></span></td>
			</tr>
			<tr>
				<td class="lead"><label for="newDay">新到天数</label></td>
				<td><span id="newDay"></span></td>
				<td class="lead"><label for="leftDay">剩余天数</label></td>
				<td><span id="leftDay"></span></td>
			</tr>
			<tr>
				<td class="lead"><label for="originDate">首播时间</label></td>
				<td><span id="originDate"></span></td>
				<td class="lead"><label for="issueYear">出品年代</label></td>
				<td><span id="issueYear"></span></td>
			</tr>
			<tr>
				<td class="lead"><label for="sourceType">节目源类型</label></td>
				<td colspan="3"><span id="sourceType"></span></td>
			</tr>
			<tr>
				<td class="lead"><label for="starLevel">推荐级别</label></td>
				<td><span id="starLevel"></span></td>
				<td class="lead"><label for="rating">限制级别</label></td>
				<td><span id="rating"></span></td>
			</tr>
			<tr>
				<td class="lead"><label for="region">地域</label></td>
				<td><span id="region"></span></td>
				<td class="lead"><label for="company">版权内容提供商(出品公司)</label></td>
				<td><span id="company"></span></td>
			</tr>
			<tr>
				<td class="lead"><label for="language">语言</label></td>
				<td colspan="3"><span id="language"></span></td>
			</tr>
			<tr>
				<td class="lead"><label for="actorDisplay">演员</label></td>
				<td colspan="3"><span id="actorDisplay"></span></td>
			</tr>
			<tr>
				<td class="lead"><label for="writerDisplay">导演</label></td>
				<td colspan="3">
					<span id="writerDisplay"></span>
				</td>
			</tr>
			<tr>
				<td class="lead"><label for="awards">所获奖项</label></td>
				<td colspan="3">
					<span id="awards"></span>
				</td>
			</tr>
			<tr>
				<td class="lead"><label for="viewPoint">看点</label></td>
				<td colspan="3"><span id="viewPoint"></span></td>
			</tr>
			<tr>
				<td class="lead"><label for="comments">备注</label></td>
				<td colspan="3"><span id="comments"></span></td>
			</tr>
			</tbody>
		</table>
		<!--<button class="btn-info btnReCategory" name="3" style="float: right;">重新编目</button>-->
	</div>
	<style>
		#divImgWrap {
			width: 100%;
			overflow: auto;
		}

		#tbImages {
			width: 100%;
			table-layout: auto;
		}

		#tbImages td {
			text-align: center;
			/*overflow: auto;*/
		}

		#tbImages img {
			/*max-width: 100%;*/
		}

		.noImg {
			width: 232px;
			height: 300px;
			background-image: url("/css/img/no_image.jpg");
		}

		#tbImages thead > tr {
			border-top: 3px double rgb(208, 208, 208);
		}
	</style>
	<div id="d2">
		<div class="grid-title-bar"> 图片列表</div>
		<div id="divImgWrap">
		</div>
		<table id="tbImages" class="grid">
			<colgroup>
				<col style="width: 33%;">
				<col style="width: 33%;">
				<col style="width: 33%;">
			</colgroup>
			<thead>
			<tr>
				<th>420x336</th>
				<th>140x112_HD</th>
				<th>140x112</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>
					<img id="img_420x336" class="f" src="/css/img/no_image.jpg" alt="">
				</td>
				<td>
					<img id="img_140x112_HD" class="f" src="/css/img/no_image.jpg" alt="">
				</td>
				<td>
					<img id="img_140x112" class="f" src="/css/img/no_image.jpg" alt="">
				</td>
			</tr>
			</tbody>

			<thead>
			<tr>
				<th>
					300x444
				</th>
				<th>
					200x296_HD
				</th>
				<th>
					200x296
				</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>
					<img id="img_300x444" class="f" src="/css/img/no_image.jpg" alt="">
				</td>
				<td>
					<img id="img_200x296_HD" class="f" src="/css/img/no_image.jpg" alt="">
				</td>
				<td>
					<img id="img_200x296" class="f" src="/css/img/no_image.jpg" alt="">
				</td>
			</tr>
			</tbody>

			<thead>
			<tr>
				<th>
					300x408
				</th>
				<th>
					125x170
				</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td>
					<img id="img_300x408" class="f" src="/css/img/no_image.jpg" alt="">
				</td>
				<td>
					<img id="img_125x170" class="f" src="/css/img/no_image.jpg" alt="">
				</td>
				<td></td>
			</tr>
			</tbody>

			<thead>
			<tr>
				<th colspan="2">
					856x424
				</th>
				<th>
					424x208
				</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td colspan="2">
					<img id="img_856x424" class="f" src="/css/img/no_image.jpg" alt="">
				</td>
				<td>
					<img id="img_424x208" class="f" src="/css/img/no_image.jpg" alt="">
				</td>
			</tr>
			</tbody>

			<thead>
			<tr>
				<th colspan="3">
					640x640
				</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td colspan="3"><img id="img_640x640" class="f" src="/css/img/no_image.jpg" alt=""></td>
			</tr>
			</tbody>
			<thead>
			<tr>
				<th colspan="2">
					424x424
				</th>
				<th>
					208x208
				</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td colspan="2">
					<img id="img_424x424" class="f" src="/css/img/no_image.jpg" alt="">
				</td>
				<td>
					<img id="img_208x208" class="f" src="/css/img/no_image.jpg" alt="">
				</td>
			</tr>
			</tbody>

			<thead>
			<tr>
				<th colspan="3">
					1138x640
				</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td colspan="3"><img id="img_1138x640" class="f" src="/css/img/no_image.jpg" alt=""></td>
			</tr>
			</tbody>

			<thead>
			<tr>
				<th colspan="3">
					496x280
				</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td colspan="3"><img id="img_496x280" class="f" src="/css/img/no_image.jpg" alt=""></td>
			</tr>
			</tbody>

			<thead>
			<tr>
				<th colspan="2">
					424x640
				</th>
				<th>
					424x100
				</th>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td colspan="2">
					<img id="img_424x640" class="f" src="/css/img/no_image.jpg" alt="">
				</td>
				<td>
					<img id="img_424x100" class="f" src="/css/img/no_image.jpg" alt="">
				</td>
			</tr>
			</tbody>
		</table>
		<!--<button class="btn-info btnReCategory" name="3" style="float: right;">重新编目</button>-->
	</div>
</div>


<!-- player lib  -->
<script src="/lib/player/plyr.js"></script><!--ignore-->
<% include ('/comm/footer.html') %>
<script>
	require('../@comm/info_mediaViewer');
</script>