<% include ('/comm/header.html') %>
<link rel="stylesheet" href="/css/jquery.datetimepicker.css">

<style>
	#mainTab {
		width: 100%;
		height: 100%;
	}

	.forSingleFileOnly {
		display: none;
	}

	.search-table {
		margin-bottom: 1em;
	}

	.search-table .lead.text-center {
		text-align: center;
		font-weight: bold;
	}

	.halfWidth {
		width: 70% !important;
	}

	.divPopWrapper {
		padding: 20px;
		max-height: 200px;
		overflow: auto;
	}

	.divPopWrapper label {
		width: 150px !important;
	}

	.forOne *{
		visibility: hidden;
	}
</style>

<div id="mainTab">
	<div id="d1"  class="tabDivision">

		<p class="text-right">
			<button class="btn-warning btn-saveMeta">保存</button>
			<button class="btn-info btn-copy">导入</button>
			<button class="btn-primary btn-douban">豆瓣导入</button>
		</p>

		<table class="search-table">
			<thead>
			<tr>
				<td colspan="4" class="lead text-center">基本信息</td>
			</tr>
			</thead>
			<tbody>
			<tr class="forSingleFileOnly">
				<td class="lead"><label for="name"><b class="text-red">*</b>节目名称</label></td>
				<td><input type="text" name="name" id="name" maxlength="50"></td>
				<td class="lead"><label for="oriName">原名称</label></td>
				<td><input type="text" name="oriName" id="oriName" maxlength="50"></td>
			</tr>
			<tr class="forSingleFileOnly">
				<td class="lead"><label for="sortName"><b class="text-red">*</b>索引名</label></td>
				<td><input type="text" name="sortName" id="sortName" maxlength="50"></td>
				<td class="lead"><label for="srarchName"><b class="text-red">*</b>查询名</label></td>
				<td><input type="text" name="srarchName" id="srarchName" maxlength="50"></td>
			</tr>
			<tr>
				<td class="lead">节目类型</td>
				<td><span id="progType"></span></td>
				<td class="lead">类别</td>
				<td><span id="contentType"></span></td>
			</tr>
			<tr>
				<td class="lead"><label for="category">栏目Category</label></td>
				<td><select name="category" id="category"></select></td>
				<td class="lead forOne"><label for="episodeNumber"><b class="text-red">*</b>总集数</label></td>
				<td class="forOne"><input type="number" name="episodeNumber" id="episodeNumber" value="1" step="1" min="1"></td>
			</tr>
			<tr>
				<td class="lead"><label for="genreNames">子类别Genre</label></td>
				<td colspan="3">
					<b class="fcGroup halfWidth">
						<b class="fcItem">
							<input name="genreNames" id="genreNames" type="text" placeholder="请选择" readonly>
							<input type="hidden" name="genreIds" id="genreIds">
						</b>
						<b class="fcItem" style="width: 50px; padding-left: 5px; font-weight: 100;">
							<i class="fileChooserWrap">
								<button id="btnGenre" class="btn-mini" style="width: 100%;">...</button>
							</i>
						</b>
					</b>
				</td>
			</tr>
			<tr>
				<td class="lead"><label for="tagNames">标签Tag </label></td>
				<td colspan="3">
					<b class="fcGroup halfWidth">
						<b class="fcItem">
							<input name="tagNames" id="tagNames" type="text" placeholder="请选择" readonly>
							<input type="hidden" name="tagIds" id="tagIds">
						</b>
						<b class="fcItem" style="width: 50px; padding-left: 5px; font-weight: 100;">
							<i class="fileChooserWrap">
								<button id="btnTag" class="btn-mini" style="width: 100%;">...</button>
							</i>
						</b>
					</b>
				</td>
			</tr>
			<tr>
				<td class="lead"><label for="categoryNames">分类</label></td>
				<td colspan="3">
					<b class="fcGroup halfWidth">
						<b class="fcItem">
							<input name="categoryNames" id="categoryNames" type="text" placeholder="请选择" readonly>
							<input name="categoryIds" id="categoryIds" type="hidden"/>
						</b>
						<b class="fcItem" style="width: 50px; padding-left: 5px; font-weight: 100;">
							<i class="fileChooserWrap">
								<button id="btnCategory" class="btn-mini" style="width: 100%;">...</button>
							</i>
						</b>
					</b>
				</td>
			</tr>
			<tr>
				<td class="lead"><label for="groupNames">内容分组 </label></td>
				<td colspan="3">
					<b class="fcGroup halfWidth">
						<b class="fcItem">
							<input name="groupNames" id="groupNames" type="text" placeholder="请选择" readonly>
							<input name="groupIds" id="groupIds" type="hidden"/>
						</b>
						<b class="fcItem" style="width: 50px; padding-left: 5px; font-weight: 100;">
							<i class="fileChooserWrap">
								<button id="btnGroups" class="btn-mini" style="width: 100%;">...</button>
							</i>
						</b>
					</b>
				</td>
			</tr>
			<tr>
				<td class="lead"><label for="validTime"><b class="text-red">*</b>生效时间</label></td>
				<td><input type="datetime" name="validTime" id="validTime"></td>
				<td class="lead"><label for="expireTime"><b class="text-red">*</b>失效时间</label></td>
				<td><input type="datetime" name="expireTime" id="expireTime"></td>
			</tr>
			<tr>
				<td class="lead">节目时长</td>
				<td colspan="3"><span id="length"></span></td>
			</tr>
			<tr>
				<td class="lead"><label for="keyword">关键字</label></td>
				<td colspan="3"><input type="text" id="keyword" name="keyword" class="halfWidth"><span>（使用空格符分隔）</span>
				</td>
			</tr>
			<tr>
				<td class="lead"><label for="descirption">简介</label></td>
				<td colspan="3"><textarea id="descirption" name="descirption" maxlength="500" rows="5" class="halfWidth"></textarea></td>
			</tr>
			<tr>
				<td class="lead"><label for="adName">广告名称</label></td>
				<td colspan="3"><input type="text" id="adName" name="adName"
				                       class="halfWidth"><span>（多个广告用英文逗号分隔）</span></td>
			</tr>
			</tbody>
		</table>

		<table class="search-table">
			<thead>
			<tr>
				<td colspan="4" class="lead text-center">版权信息</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td class="lead"><label for="vodArrange">用途</label></td>
				<td><select name="vodArrange" id="vodArrange"></select></td>
				<td class="lead"><label for="copyrightType">版权类型</label></td>
				<td><select name="copyrightType" id="copyrightType"></select></td>
			</tr>
			<tr>
				<td class="lead"><label for="copyrightValidTime">版权生效时间</label></td>
				<td><input type="datetime" name="copyrightValidTime" id="copyrightValidTime"></td>
				<td class="lead"><label for="copyrightExpireTime">版权失效时间</label></td>
				<td><input type="datetime" name="copyrightExpireTime" id="copyrightExpireTime"></td>
			</tr>
			</tbody>
		</table>

		<table class="search-table">
			<thead>
			<tr>
				<td colspan="4" class="lead text-center">详细信息</td>
			</tr>
			</thead>
			<tbody>
			<tr>
				<td class="lead"><label for="defaultPriceType">资费类型</label></td>
				<td><select name="defaultPriceType" id="defaultPriceType"></select></td>
				<td class="lead"><label for="defaultPrice">默认资费 (元)</label></td>
				<td><input type="text" id="defaultPrice" name="defaultPrice"></td>
			</tr>
			<tr>
				<td class="lead"><label for="newDay">新到天数</label></td>
				<td><input type="text" id="newDay" name="newDay"></td>
				<td class="lead"><label for="leftDay">剩余天数</label></td>
				<td><input type="text" id="leftDay" name="leftDay"></td>
			</tr>
			<tr>
				<td class="lead"><label for="originDate">首播时间</label></td>
				<td><input type="datetime" id="originDate" name="originDate"></td>
				<td class="lead"><label for="issueYear">出品年代</label></td>
				<td><input type="text" id="issueYear" name="issueYear" placeholder="四位整数形式，如：2015"></td>
			</tr>
			<tr>
				<td class="lead"><label for="sourceType">节目源类型</label></td>
				<td colspan="3"><select name="sourceType" id="sourceType"></select></td>
			</tr>
			<tr>
				<td class="lead"><label for="starLevel">推荐级别</label></td>
				<td><select name="starLevel" id="starLevel"></select></td>
				<td class="lead"><label for="rating">限制级别</label></td>
				<td><select name="rating" id="rating"></select></td>
			</tr>
			<tr>
				<td class="lead"><label for="region">地域</label></td>
				<td><select name="region" id="region"></select></td>
				<td class="lead"><label for="company">版权内容提供商(出品公司)</label></td>
				<td><select name="company" id="company"></select></td>
			</tr>
			<tr>
				<td class="lead"><label for="language">语言</label></td>
				<td colspan="3"><select name="language" id="language"></select></td>
			</tr>
			<tr>
				<td class="lead"><label for="actorDisplay">演员</label></td>
				<td colspan="3"><input type="text" id="actorDisplay" name="actorDisplay" maxlength="128" class="halfWidth"><span>（使用空格符分隔）</span></td>
			</tr>
			<tr>
				<td class="lead"><label for="writerDisplay">导演</label></td>
				<td colspan="3">
					<input type="text" id="writerDisplay" name="writerDisplay" maxlength="128" class="halfWidth"><span>（使用空格符分隔）</span>
				</td>
			</tr>
			<tr>
				<td class="lead"><label for="awards">所获奖项</label></td>
				<td colspan="3"><input type="text" id="awards" name="awards" class="halfWidth"><span>（使用空格符分隔）</span>
				</td>
			</tr>
			<tr>
				<td class="lead"><label for="viewPoint">看点</label></td>
				<td colspan="3"><textarea id="viewPoint" name="viewPoint" maxlength="500" class="halfWidth"></textarea></td>
			</tr>
			<tr>
				<td class="lead"><label for="comments">备注</label></td>
				<td colspan="3"><textarea id="comments" name="comments" maxlength="500" class="halfWidth"></textarea></td>
			</tr>
			</tbody>
		</table>


		<p class="text-right">
			<button class="btn-warning btn-saveMeta">保存</button>
			<button class="btn-info btn-copy">导入</button>
			<button class="btn-primary btn-douban">豆瓣导入</button>
		</p>

	</div>

	<style>
		#divImgWrap{
			width: 100%;
			overflow: auto;
		}
		#tbImages{
			width: 100%;
			table-layout: auto;
		}
		#tbImages td{
			text-align: center;
			/*overflow: auto;*/
		}
		#tbImages img{
			/*max-width: 100%;*/
		}
		.noImg{
			width: 232px;
			height: 300px;
			background-image: url("/css/img/no_image.jpg");
		}
		#tbImages thead>tr{
			border-top: 3px double rgb(208, 208, 208);
		}
	</style>
	<script>
		function noImage(img) {
			console.log('aaaa' , img);
			img.className = 'noImg';
		}
	</script><!--ignore-->
	<div id="d2" class="tabDivision">
		<h3 id="msgH3" class="text-center text-red" style="line-height: 3em;"></h3>
		<div class="grid-title-bar">
			图片列表
			<button id="btnBatchAdd" class="btn-mini btn-success">批量上传</button>
		</div>
		<div id="divImgWrap">
			<table id="tbImages" class="grid">
				<colgroup>
					<col style="width: 33%;">
					<col style="width: 33%;">
					<col style="width: 33%;">
				</colgroup>
				<thead>
				<tr>
					<th>
						420x336
						<button class="btn-mini btn-info" data-size="420x336">制作横版图</button>
						<button class="btn-mini btn-success" data-size="420x336">上传</button>
					</th>
					<th>
						140x112_HD
						<button class="btn-mini btn-success" data-size="140x112_HD">上传</button>
					</th>
					<th>
						140x112
						<button class="btn-mini btn-success" data-size="140x112">上传</button>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>
						<img id="img_420x336" class="f" src="/css/img/no_image.jpg" alt="">
					</td>
					<td>
						<img id="img_140x112_HD" class="f" src="/css/img/no_image.jpg" alt="">
					</td>
					<td>
						<img id="img_140x112" class="f" src="/css/img/no_image.jpg" alt="">
					</td>
				</tr>
				</tbody>

				<thead>
				<tr>
					<th>
						300x444
						<button class="btn-mini btn-info" data-size="300x444">制作竖版图</button>
						<button class="btn-mini btn-success" data-size="300x444">上传</button>
					</th>
					<th>
						200x296_HD
						<button class="btn-mini btn-success" data-size="200x296_HD">上传</button>
					</th>
					<th>
						200x296
						<button class="btn-mini btn-success" data-size="200x296_HD">上传</button>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>
						<img id="img_300x444" class="f" src="/css/img/no_image.jpg" alt="">
					</td>
					<td>
						<img id="img_200x296_HD" class="f" src="/css/img/no_image.jpg" alt="">
					</td>
					<td>
						<img id="img_200x296" class="f" src="/css/img/no_image.jpg" alt="">
					</td>
				</tr>
				</tbody>

				<thead>
				<tr>
					<th>
						300x408
						<button class="btn-mini btn-success" data-size="300x408">上传</button>
					</th>
					<th>
						125x170
						<button class="btn-mini btn-success" data-size="125x170">上传</button>
					</th>
					<th></th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>
						<img id="img_300x408" class="f" src="/css/img/no_image.jpg" alt="">
					</td>
					<td>
						<img id="img_125x170" class="f" src="/css/img/no_image.jpg" alt="">
					</td>
					<td></td>
				</tr>
				</tbody>

				<thead>
				<tr>
					<th colspan="2">
						856x424
						<button class="btn-mini btn-info" data-size="856x424">制作XBox 2:1图</button>
						<button class="btn-mini btn-success" data-size="856x424">上传</button>
					</th>
					<th>
						424x208
						<button class="btn-mini btn-success" data-size="424x208">上传</button>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td colspan="2">
						<img id="img_856x424" class="f" src="/css/img/no_image.jpg" alt="">
					</td>
					<td>
						<img id="img_424x208" class="f" src="/css/img/no_image.jpg" alt="">
					</td>
				</tr>
				</tbody>

				<thead>
				<tr>
					<th colspan="3">
						640x640
						<button class="btn-mini btn-info" data-size="640x640">制作XBox 1:1图</button>
						<button class="btn-mini btn-success" data-size="640x640">上传</button>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td colspan="3"><img id="img_640x640" class="f" src="/css/img/no_image.jpg" alt=""></td>
				</tr>
				</tbody>
				<thead>
				<tr>
					<th colspan="2">
						424x424
						<button class="btn-mini btn-success" data-size="424x424">上传</button>
					</th>
					<th>
						208x208
						<button class="btn-mini btn-success" data-size="208x208">上传</button>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td colspan="2">
						<img id="img_424x424" class="f" src="/css/img/no_image.jpg" alt="">
					</td>
					<td>
						<img id="img_208x208" class="f" src="/css/img/no_image.jpg" alt="">
					</td>
				</tr>
				</tbody>

				<thead>
				<tr>
					<th colspan="3">
						1138x640
						<button class="btn-mini btn-info" data-size="1138x640">制作XBox 16:9图</button>
						<button class="btn-mini btn-success" data-size="1138x640">上传</button>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td colspan="3"><img id="img_1138x640" class="f" src="/css/img/no_image.jpg" alt=""></td>
				</tr>
				</tbody>

				<thead>
				<tr>
					<th colspan="3">
						496x280
						<button class="btn-mini btn-success" data-size="496x280">上传</button>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td colspan="3"><img id="img_496x280" class="f" src="/css/img/no_image.jpg" alt=""></td>
				</tr>
				</tbody>

				<thead>
				<tr>
					<th colspan="2">
						424x640
						<button class="btn-mini btn-info" data-size="424x640">制作XBox 2:3图</button>
						<button class="btn-mini btn-success" data-size="424x640">上传</button>
					</th>
					<th>
						424x100
						<button class="btn-mini btn-info" data-size="424x100">制作XBox 4:1图</button>
						<button class="btn-mini btn-success" data-size="424x100">上传</button>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td colspan="2">
						<img id="img_424x640" class="f" src="/css/img/no_image.jpg" alt="">
					</td>
					<td>
						<img id="img_424x100" class="f" src="/css/img/no_image.jpg" alt="">
					</td>
				</tr>
				</tbody>
			</table>
		</div>

	</div>
	<div id="d3" class="tabDivision">
		<table id="tb3"></table>
	</div>
</div>


<% include ('/comm/footer.html') %>
<script>
	require('metaData_Image');
</script>
<script src="/lib/jquery.datetimepicker.js"></script>