<% include ('/comm/header.html') %>

<table id="tbProfile" class="search-table" style="table-layout: fixed;">
	<tr>
		<td class="lead">任务名</td>
		<td colspan="3" id="title"></td>
	</tr>
	<tr>
		<td class="lead">采集状态</td>
		<td id="status"></td>
		<td class="lead">进度百分比</td>
		<td id="progress"></td>
	</tr>
	<tr>
		<td class="lead">模板名</td>
		<td colspan="3" id="templateName"></td>
	</tr>
	<tr>
		<td class="lead">视频源文件路径</td>
		<td colspan="3" id="mediaPath"></td>
	</tr>
	<tr>
		<td class="lead">目标文件</td>
		<td colspan="3" id="targetFile"></td>
	</tr>
</table>


<% include ('/comm/footer.html') %>
