<% include ('/comm/header.html') %>

<link rel="stylesheet" href="/css/treePageLayout.scss?__inline">

<section id="leftSec">
</section>

<section id="rightSec">

	<table id="tbSearch" class="search-table">
		<tr>
			<td class="lead">组织信息</td>
			<td><span id="roleName"></span></td>
		</tr>
	</table>

	<div class="grid-title-bar">
		子组织列表
		<button id="btnAdd" class="btn-create"><i class="ico-create"></i> 新增</button>
	</div>
	<table id="tb"></table>

</section>

<% include ('/comm/footer.html') %>

<script>
	require('./org');
</script>