<% include ('/comm/header.html') %>
<style>

</style>

<table id="tbSearch" class="search-table">
	<tr>
		<td class="lead"><label for="name"><b class="text-red">*</b>采集源名称</label></td>
		<td><input id="name" name="name" type="text" maxlength="20"/></td>
		<td class="lead"><label for="code"><b class="text-red">*</b>采集源编码</label></td>
		<td><input id="code" name="code" type="text" maxlength="32"/></td>
	</tr>
	<tr>
		<td class="lead"><b class="text-red">*</b>状态</td>
		<td id="tdStatus">
			<label class="lbAutoWidth"><input name="status" type="radio" value="0" checked>启用 </label>
			<label class="lbAutoWidth"><input name="status" type="radio" value="1">停用</label>
		</td>
		<td class="lead"><label for="spCode"><b class="text-red">*</b>内容生产商</label></td>
		<td><select name="spCode" id="spCode">
		</select></td>
	</tr>
	<tr>
		<td class="lead"><label for="sourceType">采集源类型</label></td>
		<td colspan="3">
			<select name="sourceType" id="sourceType"></select>
		</td>
	</tr>
	<tr>
		<td class="lead"><label for="notifyUrl">应答接口</label></td>
		<td colspan="3"><input type="text" id="notifyUrl" name="notifyUrl" maxlength="128"></td>
	</tr>
	<tr>
		<td class="lead"><label for="contentRequestUrl">节目请求接口 </label></td>
		<td colspan="3"><input type="text" id="contentRequestUrl" name="contentRequestUrl" maxlength="128" value="http://"></td>
	</tr>
	<tr>
		<td class="lead"><label for="workflowUrl">工作流链接</label></td>
		<td colspan="3"><input type="text" id="workflowUrl" name="workflowUrl" maxlength="128" value="http://"></td>
	</tr>
</table>

<% include ('/comm/footer.html') %>
