<% include ('/comm/header.html') %>
<link rel="stylesheet" href="/css/jquery.datetimepicker.css">

<style>
	input:disabled, #episodeNum{
		background-color: #eee;
	}

	label.lbAutoWidth {
		width: 150px !important;
	}
</style>

<table class="search-table">
	<tbody>
	<tr>
		<td class="lead"><label for="managerName"><b class="text-red">*</b>内容名称</label></td>
		<td><input type="text" name="managerName" id="managerName" maxlength="50"></td>
		<td class="lead"><label for="showName"><b class="text-red">*</b>展示名称</label></td>
		<td><input type="text" name="showName" id="showName" maxlength="50"></td>
	</tr>
	<tr>
		<td class="lead"><label for="contentType"><b class="text-red">*</b>内容类型</label></td>
		<td><select name="contentType" id="contentType"></select></td>
		<td class="lead"><label for="episodeNum"><b class="text-red">*</b>集数</label></td>
		<td>
			<label style="width: 3em; vertical-align: inherit; margin-right: 1em;">
				<input type="text" name="episodeNum" id="episodeNum" maxlength="2" value="1" readonly>
			</label>
			<label style="display: inline;"><input type="checkbox" id="seriesFlag">剧集请勾选 </label>
		</td>
	</tr>
	<tr>
		<td class="lead"><label for="category">栏目</label></td>
		<td><select name="categorys" id="category"></select></td>
		<td class="lead">集数区间</td>
		<td>
				第<input type="number" name="episodeStart" id="episodeStart" maxlength="4" value="" step="1" min="1" disabled style="width: 4em;" />集
				到 第<input type="number" name="episodeEnd" id="episodeEnd" maxlength="4" value="" step="1" min="1" disabled style="width: 4em;" />集
		</td>
	</tr>
	<tr>
		<td class="lead"><label for="onlineTime"><b class="text-red">*</b>上线时间</label></td>
		<td><input type="text" name="onlineTime" id="onlineTime" maxlength="50"></td>
		<td class="lead"><label for="programLength"><b class="text-red">*</b>预估单集时长 </label></td>
		<td>
			<b class="fcGroup">
				<b class="fcItem">
					<input name="programLength" id="programLength" type="text">
				</b>
				<b class="fcItem" style="width: 50px; padding-left: 5px; font-weight: 100;">(分钟)</b>
			</b>
		</td>
	</tr>
	<tr>
		<td class="lead"><b class="text-red">*</b>可添加的业务</td>
		<td colspan="3" id="tdBusiness">
			<!-- 业务 checkboxes -->
		</td>
	</tr>
	<tr>
		<td class="lead"><label for="movieType"><b class="text-red">*</b>介质类型</label></td>
		<td><select name="movieType" id="movieType"></select></td>
		<td class="lead"><label for="profile"><b class="text-red">*</b>视频风格</label></td>
		<td><select name="profile" id="profile"></select></td>
	</tr>
	<tr>
		<td class="lead"><label for="risk">危险系数</label></td>
		<td><select name="risk" id="risk"></select></td>
		<td class="lead"><label for="btnCopyrightProgram">关联版权</label></td>
		<td>
			<b class="fcGroup">
				<b class="fcItem">
					<input type="text" name="copyrightProgram" id="copyrightProgram" placeholder="请选择" readonly>
					<input type="hidden" name="copyrightProgramId" id="copyrightProgramId">
				</b>
				<b class="fcItem" style="width: 30px; padding-left: 5px; font-weight: 100;">
					<button id="btnCopyrightProgram" class="btn-mini" style="width: 100%;">...</button>
				</b>
			</b>

		</td>
	</tr>
	<tr>
		<td class="lead"><label for="summary">节目梗概</label></td>
		<td><textarea id="summary" name="summary" maxlength="500" rows="5"></textarea></td>
		<td class="lead"><label for="auditRequire">审核要求</label></td>
		<td><textarea id="auditRequire" name="auditRequire" maxlength="500" rows="5"></textarea></td>
	</tr>
	<tr>
		<td class="lead"><label for="memo">初审意见</label></td>
		<td colspan="3"><textarea id="memo" name="memo" maxlength="500" rows="3"></textarea></td>
	</tr>
	<tr>
		<td class="lead">技审/四审</td>
		<td></td>
		<td class="lead"><label for="audit2">二审人员</label></td>
		<td><input type="text" id="audit2" name="audit2"></td>
	</tr>
	<tr>
		<td class="lead"><label for="audit4">四审人员</label></td>
		<td><input type="text" id="audit4" name="audit4"></td>
		<td class="lead"><label for="region">地域</label></td>
		<td><select name="region" id="region"></select></td>
	</tr>
	</tbody>
</table>
<p>&nbsp;</p>

<% include ('/comm/footer.html') %>

<script src="/lib/jquery.datetimepicker.js"></script>