<% include ('/comm/header.html') %>


<table id="tbSearch" class="search-table">
	<tr>
		<td class="lead"><label for="name"><b class="text-red">*</b>业务名称</label></td>
		<td><input id="name" name="name" type="text" maxlength="20"/></td>
	</tr>
	<tr>
		<td class="lead"><label for="bizCode"><b class="text-red">*</b>业务编码</label></td>
		<td><input id="bizCode" name="bizCode" type="text" maxlength="20"/></td>
	</tr>
	<tr>
		<td class="lead"><label for="bizDesc">业务描述</label></td>
		<td><textarea name="bizDesc" id="bizDesc" cols="30" rows="9"></textarea></td>
	</tr>
</table>

<% include ('/comm/footer.html') %>

<script>
	require('./info.ts');
</script>