<% include ('/comm/header.html') %>
<style>
	#tbSearch{
		height: 100%;
	}
	#tree1{
		height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}
</style>

<table id="tbSearch" class="search-table">
	<tr style="height: 32px;">
		<td class="lead"><label for="loginName"><b class="text-red">*</b> 登录名</label></td>
		<td><input type="text" id="loginName" name="loginName" maxlength="20"></td>
		<td class="lead"><label for="name"><b class="text-red">*</b> 用户名</label></td>
		<td><input type="text" id="name" name="name" maxlength="20" autocomplete="off"></td>
	</tr><!--
	<tr style="height: 32px;">
		<td class="lead"><b class="text-red">*</b> 所属组织</td>
		<td colspan="3">
			<label id="lbOrg"><input type="text" id="org" name="org" placeholder="请选择" readonly></label>
			<input type="hidden" id="orgCode" name="orgCode">
		</td>
	</tr>-->
	<tr id="trRoleTree">
		<td class="lead"><b class="text-red">*</b> 角色列表</td>
		<td colspan="3" style="vertical-align: top;">
			<div id="tree1"></div>
		</td>
	</tr>
</table>

<% include ('/comm/footer.html') %>
